
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    width: 100%;
    background: #833ab4;  
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 

    

    
}
#menu {
	background: #080808;
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 0px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


.demo{
    background:linear-gradient(90deg,#cc2b5e,#753a88);
}
.menu-button{
    color: #000;
    padding: 10px;
    font-weight: 200;
    background-color: rgba(196, 191, 191, 0.5) ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    vertical-align: 1.1px;
    gap: 10px;
}
.menu-button:hover{
    color: #fff;  
}
.heading{
    
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    
}
.main{
    
    display: block;
    width:80%;
    
    background: rgba(39, 38, 38, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
    margin: 80px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    opacity: 0.75;
    
 
   
    
}
.main-heading{
    color: #fff;

    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    font-size: 30px;
    margin-bottom: 10px;
    
    
    
}

.box-1{
   
    display:block ;
    width: 30%;
    height: 200px;
    min-width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.25);
box-shadow: 0 8px 32px 0 rgba(124, 127, 149, 0.5);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.box-2{
    display:block ;
    width: 22%;
    height: 350px;
    min-width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(124, 127, 149, 0.5);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(227, 219, 219, 0.18);

}
.box-3{
    display:block ;
    padding: auto;
    width: 80%;
    height: 250px;
    min-width: auto;
    margin: auto;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(124, 127, 149, 0.5);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}
.foot{
background-color: #000;

width: 100%;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
vertical-align: -2px;
}
.circle{
    display:block ;
    height: 200px;
    width: 200px;
    min-width: auto;
    margin: auto;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(124, 127, 149, 0.5);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50% ;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    padding: auto;
}
.logo{
    width: 20px;
    height: 20px;
    vertical-align: -4px;
}
.navbar{
    width: 100%;
    background-color: #000;
    display: block;
    position: absolute;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}
.right{
    float: right;
}

.footer-text{
    color: #fff;
    margin: 5px auto;
}

.card-logo img{
    height: 30%;
    width: 40%;
    margin-left: 1%;
    margin-top: 2%;
    
}
.card-number{
    height: 18%;
    width: 90%;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    margin-left: 4%;
    margin-top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    

}

.card2-logo img{
    align-items: center;
    height: 30%;
    width: 70%;
    margin-top: 2%;
    margin-left: 16% ;
}
.card-name{
    text-align: center;
    font-size: 110%;
    margin: 5%;
    color: #fff;
    overflow: hidden;
}
.img img{
    height: 40%;
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);;
}
.img{
    margin-left: 30%;
}
.university{
    text-align: center;
    font-size: 110%;
    margin: 2%;
    color: #fff;
    overflow: hidden;
}
.college{
    text-align: center;
    font-size: 110%;
    margin-top: 5%;
    color: #fff;
}
.card-profes{
    text-align: center;
    font-size: 110%;
    margin: 5%;
    color: #fff;}

.box-3 img{
   margin-top:3% ;
   margin-left: 21%;
    height: 80%;
    width: 70%;
}
.circle img{
    height: 60%;
    width: 60%;
    
    margin-left: 20% ;
    margin-top: 20%;
}
